@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: "Montserrat";
}

.app-container {
    background-color: var(--color-6);
    color: var(--color-4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-7);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-4);
    padding: 1rem 2rem;
    font-family: 'Montserrat';
}

sup {
    font-size: 0.8rem;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
}

.search-input {
    outline: none;
    flex-grow: 1;
    height: 1.8rem;
    padding: 0.4rem 1rem;
    border: 1px solid var(--color-6);
    border-right: 0;
    border-radius: var(--radius-big) 0 0 var(--radius-big);
    background-color: var(--color-7);
    color: var(--color-2);
}

.search-input:focus {
    background-color: var(--color-6);
}

.search-button {
    height: 2.7rem;
    background-color: var(--color-7);
    color: var(--color-5);
    border: 1px solid var(--color-6);
    border-left: 0;
    border-radius: 0 var(--radius-medium) var(--radius-medium) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
}

.navbar-button {
    display: flex;
    background-color: var(--color-7);
    border: 1px solid var(--color-4);
    color: var(--color-4);
    margin: 1rem 0 1rem 1rem;
    padding: 0 0.8rem;
    height: var(--navbar-button-height);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-medium);
}

.navbar-button:hover, .notification-button:hover {
    background-color: var(--color-4);
    border: 1px solid var(--color-4);
    color: var(--color-7);
}

.notification-button {
    display: flex;
    color: var(--color-4);
    border: 1px solid var(--color-4);
    margin: 1rem 2rem 1rem 1rem;
    width: var(--navbar-button-height);
    height: var(--navbar-button-height);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-medium);
}

.tabs-row {
    display: flex;
    height: var(--tabs-row-height);
    width: 100%;
    position: fixed;
    margin-top: var(--navbar-height);
    margin-left: var(--sidebar-width);
    overflow-x: auto;
    background-color: var(--color-6);
    padding: 1.2rem 0;
}

.tab-button {
    margin: 0 0.4rem;
    padding: 0 0.8rem;
    background-color: var(--color-6);
    color: var(--color-1);
    border: none;
    border-radius: var(--radius-small);
    cursor: pointer;
    white-space: nowrap;
}

.tab-button:first-child {
    margin-left: 1.2rem;
}

.tab-button:hover {
    background-color: var(--color-7);
}

.sidenav {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: var(--sidebar-width);

    background-color: var(--color-7);
    top: var(--navbar-height);

    align-items: center;
    text-align: center;
    overflow: hidden;

    z-index: 10;
}

.sidenav-button {
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: transparent;
    color: var(--color-1);
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 1rem 0.6rem;
}

.sidenav-button:focus {
    border-left: 6px solid var(--color-4);
}

.sidenav-button:hover {
    background-color: var(--color-5);
}

.sidenav-button.active {
    background: linear-gradient(90deg, var(--color-4) 6%, var(--color-6) 6%, var(--color-6) 100%);
    /*background-color: var(--color-6);*/
    /*border-left: 6px solid var(--color-4);*/
}

.sidebar-tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--color-1);*/
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.5rem;
}

.sidenav-button p {
    margin: 1rem 0 0 0 ;
    font-size: 0.8rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.2rem;
    padding: 1.2rem;
    margin-top: calc(var(--navbar-height) + var(--tabs-row-height) + 1.2rem);
    margin-left: var(--sidebar-width);
}

.card-placeholder {
    background-color: var(--color-7);
    min-height: 15rem;
    font-size: 1rem;
    border-radius: var(--radius-big);
    padding: 0.2rem 1rem;
}

.card-top-section {
    display: flex;
    max-height: 8rem;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid var(--color-5);
}

.card-pills {
    display: block;
    /*background-color: red;*/
    height: calc(100% - 11rem);
}

.card-bottom-info {
    display: flex;
    justify-content: space-between;
    max-height: 3rem;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    border-top: 2px solid var(--color-5);
}

.card-date-placeholder {
    text-align: center;
    border-right: 2px solid var(--color-5);

}

.card-title-placeholder {
    width: 100%;
}

.card-date-placeholder, .card-title-placeholder {
    padding: 0 2rem;
    margin: 0.5rem 0;
}

.card-date-placeholder {
    padding-left: 1.5rem;
}

.card-title-placeholder {
    padding-right: 0.5rem;
}

.card-date-placeholder h2, .card-title-placeholder h2{
    margin: -1rem 0;
}

.card-title-info {
    display: flex;
    justify-content: space-between;
}


.card-pill{
    float: left;
    border: 2px solid var(--color-4);
    color: var(--color-2);
    padding: 0.1rem 0.4rem;
    margin: 0.2rem;
    border-radius: var(--radius-small);
}

.card-pill span {
    background-color: var(--color-6);
    color: var(--color-3);
    margin-left: 0.4rem;
    padding: 0 0.4rem;
    border-radius: var(--radius-small);;
}