.event-container {
    display: flex;
    height: 100vh;
    background-color: var(--color-2);
    color: var(--color-7);
    width: 100%;
}

.home-left-side {
    flex: 1;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-home {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10%;
}

.home-header {
    font-size: 36px;
}

.highlight {
    color: var(--color-5);
}

.home-description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.btn-primary {
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-4);
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: var(--color-3);
    color: var(--color-5);
}
.event-list-link:hover {
    color: var(--color-7);
}

.event-list-link {
    position: absolute;
    bottom: 0;
    padding-bottom: 4%;
    display: inline-block;
    color: var(--color-5);
    font-size: 16px;
    text-decoration: none;
}

.home-right-side {
    flex: 1;
    background-color: var(--color-1)
}

.home-bg-image {
    /*background: url() no-repeat center center;*/
    background-size: cover;
}

/*.app-container {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #181818;*/
/*    color: #fff;*/
/*    min-height: 100vh;*/
/*}*/
